@theme inline {
  --color-border: hsl(var(--border));
  --color-border-strong: hsl(var(--border-strong));
  --color-border-medium-strong: hsl(var(--border-medium-strong));
  --color-border-medium: hsl(var(--border-medium));
  --color-border-medium-light: hsl(var(--border-medium-light));
  --color-border-light: hsl(var(--border-light));
  --color-border-focus: hsl(var(--border-focus));

  --color-text: hsl(var(--text-foreground));
  --color-text-secondary: hsl(var(--secondary-text-foreground));
  --color-text-inverted: hsl(var(--text-inverted-foreground));
  --color-text-inverted-focus: hsl(var(--text-inverted-foreground-focus));
  --color-text-tertiary: hsl(var(--text-tertiary));
  --color-text-light: hsl(var(--text-light));
  --color-text-disabled: hsl(var(--text-disabled));

  --color-page-background: hsl(var(--page-background));
  --color-box-background: hsl(var(--box-background));
  --color-menu-active: hsl(var(--menu-active));

  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-hover: var(--hover-background);

  --color-purple: hsl(var(--purple-default));
  --color-purple-100: hsl(var(--purple-100));
  --color-purple-200: hsl(var(--purple-200));
  --color-purple-300: hsl(var(--purple-300));
  --color-purple-400: hsl(var(--purple-400));
  --color-purple-500: hsl(var(--purple-500));
  --color-purple-600: hsl(var(--purple-600));
  --color-purple-700: hsl(var(--purple-700));
  --color-purple-800: hsl(var(--purple-800));
  --color-purple-900: hsl(var(--purple-900));

  --color-ai: hsl(var(--ai-main));
  --color-ai-light: hsl(var(--ai-light));
  --color-ai-dark: hsl(var(--ai-dark));
  --color-ai-background: var(--ai-background);

  --color-ee: hsl(var(--ee-main));
  --color-ee-background: var(--ee-background);
  --color-ee-light-background: var(--ee-light-background);

  --color-severity: hsl(var(--severity-default));
  --color-severity-critical: hsl(var(--severity-critical));
  --color-severity-high: hsl(var(--severity-high));
  --color-severity-medium: hsl(var(--severity-medium));
  --color-severity-low: hsl(var(--severity-low));
  --color-severity-info: hsl(var(--severity-info));
  --color-severity-none: hsl(var(--severity-none));

  --color-alert-info-primary: hsl(var(--alert-info-primary));
  --color-alert-info-secondary: hsl(var(--alert-info-secondary));
  --color-alert-success-primary: hsl(var(--alert-success-primary));
  --color-alert-success-secondary: hsl(var(--alert-success-secondary));
  --color-alert-success-tertiary: hsl(var(--alert-success-tertiary));
  --color-alert-alert-primary: hsl(var(--alert-alert-primary));
  --color-alert-alert-secondary: hsl(var(--alert-alert-secondary));
  --color-alert-warning-primary: hsl(var(--alert-warning-primary));
  --color-alert-warning-secondary: hsl(var(--alert-warning-secondary));
  --color-alert-error-primary: hsl(var(--alert-error-primary));
  --color-alert-error-secondary: hsl(var(--alert-error-secondary));

  --color-ds-bg: hsl(var(--ds-bg-main));
  --color-ds-bg-1: hsl(var(--ds-bg-1));
  --color-ds-bg-2: hsl(var(--ds-bg-2));
  --color-ds-bg-3: hsl(var(--ds-bg-3));
  --color-ds-bg-4: hsl(var(--ds-bg-4));
  --color-ds-bg-disabled: hsl(var(--ds-bg-disabled));

  --color-ds-border: hsl(var(--ds-border-main));
  --color-ds-border-1: hsl(var(--ds-border-1));
  --color-ds-border-2: hsl(var(--ds-border-2));

  --color-ds-primary-light: hsl(var(--ds-primary-light));
  --color-ds-primary-dark: hsl(var(--ds-primary-dark));
  --color-ds-secondary: hsl(var(--ds-secondary-main));
  --color-ds-secondary-light: hsl(var(--ds-secondary-light));
  --color-ds-secondary-dark: hsl(var(--ds-secondary-dark));
  --color-ds-destructive-light: hsl(var(--ds-destructive-light));
  --color-ds-destructive-dark: hsl(var(--ds-destructive-dark));

  --color-entity-analyse: hsl(var(--entity-analyse));
  --color-entity-cases: hsl(var(--entity-cases));
  --color-entity-events: hsl(var(--entity-events));
  --color-entity-observations: hsl(var(--entity-observations));
  --color-entity-threats: hsl(var(--entity-threats));
  --color-entity-arsenal: hsl(var(--entity-arsenal));
  --color-entity-techniques: hsl(var(--entity-techniques));
  --color-entity-victimology: hsl(var(--entity-victimology));
  --color-entity-locations: hsl(var(--entity-locations));
  --color-entity-observables: hsl(var(--entity-observables));
  --color-entity-relationships: hsl(var(--entity-relationships));
  --color-entity-restricted: hsl(var(--entity-restricted));

  --color-gray: hsl(var(--gray-default));
  --color-gray-50: hsl(var(--gray-50));
  --color-gray-100: hsl(var(--gray-100));
  --color-gray-150: hsl(var(--gray-150));
  --color-gray-200: hsl(var(--gray-200));
  --color-gray-300: hsl(var(--gray-300));
  --color-gray-400: hsl(var(--gray-400));
  --color-gray-500: hsl(var(--gray-500));
  --color-gray-600: hsl(var(--gray-600));
  --color-gray-700: hsl(var(--gray-700));
  --color-gray-800: hsl(var(--gray-800));
  --color-gray-900: hsl(var(--gray-900));
  --color-gray-1000: hsl(var(--gray-1000));

  --color-darkblue: hsl(var(--darkblue-default));
  --color-darkblue-100: hsl(var(--darkblue-100));
  --color-darkblue-200: hsl(var(--darkblue-200));
  --color-darkblue-300: hsl(var(--darkblue-300));
  --color-darkblue-400: hsl(var(--darkblue-400));
  --color-darkblue-500: hsl(var(--darkblue-500));
  --color-darkblue-600: hsl(var(--darkblue-600));
  --color-darkblue-700: hsl(var(--darkblue-700));
  --color-darkblue-800: hsl(var(--darkblue-800));
  --color-darkblue-900: hsl(var(--darkblue-900));

  --color-blue: hsl(var(--blue-default));
  --color-blue-100: hsl(var(--blue-100));
  --color-blue-200: hsl(var(--blue-200));
  --color-blue-300: hsl(var(--blue-300));
  --color-blue-400: hsl(var(--blue-400));
  --color-blue-500: hsl(var(--blue-500));
  --color-blue-600: hsl(var(--blue-600));
  --color-blue-700: hsl(var(--blue-700));
  --color-blue-800: hsl(var(--blue-800));
  --color-blue-900: hsl(var(--blue-900));

  --color-turquoise: hsl(var(--turquoise-default));
  --color-turquoise-100: hsl(var(--turquoise-100));
  --color-turquoise-200: hsl(var(--turquoise-200));
  --color-turquoise-300: hsl(var(--turquoise-300));
  --color-turquoise-400: hsl(var(--turquoise-400));
  --color-turquoise-500: hsl(var(--turquoise-500));
  --color-turquoise-600: hsl(var(--turquoise-600));
  --color-turquoise-700: hsl(var(--turquoise-700));
  --color-turquoise-800: hsl(var(--turquoise-800));
  --color-turquoise-900: hsl(var(--turquoise-900));

  --color-green: hsl(var(--green-default));
  --color-green-100: hsl(var(--green-100));
  --color-green-200: hsl(var(--green-200));
  --color-green-300: hsl(var(--green-300));
  --color-green-400: hsl(var(--green-400));
  --color-green-500: hsl(var(--green-500));
  --color-green-600: hsl(var(--green-600));
  --color-green-700: hsl(var(--green-700));
  --color-green-800: hsl(var(--green-800));
  --color-green-900: hsl(var(--green-900));

  --color-red: hsl(var(--red-default));
  --color-red-100: hsl(var(--red-100));
  --color-red-200: hsl(var(--red-200));
  --color-red-300: hsl(var(--red-300));
  --color-red-400: hsl(var(--red-400));
  --color-red-500: hsl(var(--red-500));
  --color-red-600: hsl(var(--red-600));
  --color-red-700: hsl(var(--red-700));
  --color-red-800: hsl(var(--red-800));
  --color-red-900: hsl(var(--red-900));

  --color-orange: hsl(var(--orange-default));
  --color-orange-100: hsl(var(--orange-100));
  --color-orange-200: hsl(var(--orange-200));
  --color-orange-300: hsl(var(--orange-300));
  --color-orange-400: hsl(var(--orange-400));
  --color-orange-500: hsl(var(--orange-500));
  --color-orange-600: hsl(var(--orange-600));
  --color-orange-700: hsl(var(--orange-700));
  --color-orange-800: hsl(var(--orange-800));
  --color-orange-900: hsl(var(--orange-900));

  --color-yellow: hsl(var(--yellow-default));
  --color-yellow-100: hsl(var(--yellow-100));
  --color-yellow-200: hsl(var(--yellow-200));
  --color-yellow-300: hsl(var(--yellow-300));
  --color-yellow-400: hsl(var(--yellow-400));
  --color-yellow-500: hsl(var(--yellow-500));
  --color-yellow-600: hsl(var(--yellow-600));
  --color-yellow-700: hsl(var(--yellow-700));
  --color-yellow-800: hsl(var(--yellow-800));
  --color-yellow-900: hsl(var(--yellow-900));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --background-image-gradient-background: var(--gradient-background);
  --background-image-gradient-ia: var(--gradient-ia);
  --background-image-gradient-focus: var(--gradient-focus);

  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 0.75rem;
  --spacing-l: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;

  --font-title: var(--font-geologica), system-ui, sans-serif;
  --font-body: var(--font-ibm-plex-sans), system-ui, sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@utility popover-content-width-same-as-its-trigger {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

@utility txt-jumbo {
  font-size: 2.5rem;
  letter-spacing: 0.01875rem;
  font-family: var(--font-geologica);
}

@utility txt-title {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.01125rem;
  font-family: var(--font-geologica);
}

@utility txt-subtitle {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.00844rem;
  font-family: var(--font-geologica);
}

@utility txt-category {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.00656rem;
  font-family: var(--font-geologica);
}

@utility txt-tab {
  font-size: 0.875rem;
  letter-spacing: 0.00656rem;
  text-transform: uppercase;
  font-family: var(--font-geologica);
}

@utility txt-container-title {
  font-size: 0.75rem;
  letter-spacing: 0.00563rem;
  text-transform: uppercase;
}

@utility txt-default {
  font-size: 0.9rem;
  line-height: 1.52;
  letter-spacing: 0.0035rem;
}

@utility txt-body2 {
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.003rem;
}

@utility txt-subtitle2 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.00844rem;
}

@utility txt-h3 {
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.003rem;
  font-family: var(--font-geologica);
}

@utility txt-h4 {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.00563rem;
}

@utility txt-h5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.00656rem;
  font-family: var(--font-geologica);
}

@utility txt-sub-content {
  font-size: 0.75rem;
  line-height: 1.52;
  letter-spacing: 0.003rem;
}

@utility txt-table {
  font-size: 0.8125rem;
  line-height: 1.52;
  letter-spacing: 0.003rem;
}

@utility txt-mini {
  font-size: 0.5625rem;
  line-height: 1.52;
  letter-spacing: 0.00225rem;
}

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width >= 1400px) {
  .container {
    max-width: 1400px;
  }
}

:root {
  --dark-100: var(--gray-1000);
  --light-0: 0 0% 100%;
  --light-100: var(--gray-50);
  --background: var(--gray-50);
  --foreground: var(--gray-1000);

  --page-background: var(--light-0);
  --box-background: var(--light-100);
  --primary-background: var(--darkblue-400);
  --focus-background: var(--darkblue-100);
  --text-foreground: var(--dark-100);
  --secondary-text-foreground: var(--gray-600);
  --text-inverted-foreground: var(--light-100);
  --text-inverted-foreground-focus: var(--primary-background);
  --border-medium: var(--gray-800);
  --border-medium-strong: var(--gray-600);
  --border-medium-light: var(--gray-200);
  --border-light: var(--gray-150);
  --border-focus: var(--darkblue-300);

  --hover-background: var(--gray-150);
  --menu-active: 207, 52%, 21%;

  --primary: var(--darkblue-700);
  --primary-foreground: var(--light-100);
  --secondary: var(--turquoise-600);
  --secondary-foreground: var(--light-100);
  --destructive: var(--red-500);
  --destructive-foreground: var(--light-100);

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --muted: var(--gray-default);
  --muted-foreground: var(--gray-500);

  --border: var(--border-light);
  --input: 214.3 31.8% 91.4%;
  --ring: var(--primary) / 80%;
  --radius: 0.25rem;

  --gray-default: var(--gray-200);
  --gray-50: 240 11% 96%;
  --gray-100: 240 4% 95%;
  --gray-150: 220 5.88% 90%;
  --gray-200: 225 3.92% 80%;
  --gray-300: 231.43 4.58% 70%;
  --gray-400: 232.5 3.92% 60%;
  --gray-500: 229.09 4.31% 50%;
  --gray-600: 232.5 3.92% 40%;
  --gray-700: 231.43 4.58% 30%;
  --gray-800: 225 3.92% 20%;
  --gray-900: 220 5.88% 10%;
  --gray-1000: 230 100% 2.35%;

  --darkblue-default: var(--darkblue-700);
  --darkblue-100: 231.67 100% 92.94%;
  --darkblue-200: 232.41 100% 82.94%;
  --darkblue-300: 232.61 100% 72.94%;
  --darkblue-400: 232.38 100% 62.94%;
  --darkblue-500: 232.5 100% 52.94%;
  --darkblue-600: 232.6 100% 42.94%;
  --darkblue-700: 232.5 100% 32.94%;
  --darkblue-800: 232.31 100% 22.94%;
  --darkblue-900: 232.73 100% 12.94%;

  --blue-default: var(--blue-400);
  --blue-100: 195 100% 90%;
  --blue-200: 195 100% 85%;
  --blue-300: 199 100% 75%;
  --blue-400: 197 100% 65%;
  --blue-500: 195 100% 40%;
  --blue-600: 195 100% 30%;
  --blue-700: 195 100% 25%;
  --blue-800: 195 100% 20%;
  --blue-900: 195 100% 13%;

  --green-default: var(--green-500);
  --green-100: 123 80% 88%;
  --green-200: 123 80% 76%;
  --green-300: 123 73% 68%;
  --green-400: 123 73% 57%;
  --green-500: 123 73% 46%;
  --green-600: 123 76% 38%;
  --green-700: 123 76% 27%;
  --green-800: 122 79% 17%;
  --green-900: 122 75% 13%;

  --turquoise-default: var(--turquoise-500);
  --turquoise-100: 164 100% 87%;
  --turquoise-200: 164 100% 75%;
  --turquoise-300: 164 100% 66%;
  --turquoise-400: 164 100% 56%;
  --turquoise-500: 167 100% 47%;
  --turquoise-600: 167 100% 37%;
  --turquoise-700: 167 100% 29%;
  --turquoise-800: 167 100% 17%;
  --turquoise-900: 167 100% 7%;

  --red-default: var(--red-400);
  --red-100: 6 88% 88%;
  --red-200: 5 88% 76%;
  --red-300: 5 88% 68%;
  --red-400: 4 87% 58%;
  --red-500: 4 87% 48%;
  --red-600: 5 90% 38%;
  --red-700: 5 91% 28%;
  --red-800: 4 90% 18%;
  --red-900: 4 92% 12%;

  --orange-default: var(--orange-500);
  --orange-100: 29 88% 87%;
  --orange-200: 29 88% 76%;
  --orange-300: 29 88% 68%;
  --orange-400: 29 88% 59%;
  --orange-500: 27 88% 48%;
  --orange-600: 26 90% 38%;
  --orange-700: 27 91% 28%;
  --orange-800: 27 90% 18%;
  --orange-900: 26 93% 12%;

  --yellow-default: var(--yellow-400);
  --yellow-100: 43 88% 88%;
  --yellow-200: 43 88% 76%;
  --yellow-300: 43 88% 69%;
  --yellow-400: 43 88% 59%;
  --yellow-500: 41 87% 49%;
  --yellow-600: 43 90% 38%;
  --yellow-700: 44 91% 28%;
  --yellow-800: 42 90% 18%;
  --yellow-900: 41 91% 12%;

  --purple-default: var(--purple-500);
  --purple-100: 262 85% 92%;
  --purple-200: 261 85% 87%;
  --purple-300: 262 100% 76%;
  --purple-400: 262 90% 65%;
  --purple-500: 262 78% 47%;
  --purple-600: 262 80% 38%;
  --purple-700: 261 79% 31%;
  --purple-800: 262 80% 20%;
  --purple-900: 262 80% 12%;

  --ai-main: 262 78% 47%;
  --ai-light: 261 85% 87%;
  --ai-dark: 261 79% 31%;
  --ai-background: rgba(221, 225, 254, 0.94);

  --ee-main: 167 100% 37%;
  --ee-background: rgba(0, 189, 148, 0.2);
  --ee-light-background: rgba(0, 189, 148, 0.08);

  --severity-critical: 0 84% 58%;
  --severity-high: 27 88% 48%;
  --severity-medium: 47 76% 51%;
  --severity-low: 132 77% 38%;
  --severity-info: 212 80% 42%;
  --severity-none: 0 0% 26%;
  --severity-default: 233 94% 93%;

  --alert-info-primary: 197 100% 31%;
  --alert-info-secondary: 195 75% 52%;
  --alert-success-primary: 149 71% 38%;
  --alert-success-secondary: 149 65% 57%;
  --alert-success-tertiary: 143 81% 27%;
  --alert-alert-primary: 43 88% 59%;
  --alert-alert-secondary: 43 89% 69%;
  --alert-warning-primary: 27 88% 48%;
  --alert-warning-secondary: 29 89% 76%;
  --alert-error-primary: 4 87% 58%;
  --alert-error-secondary: 5 89% 76%;

  --ds-bg-main: 240 19% 94%;
  --ds-bg-1: 0 0% 97%;
  --ds-bg-2: 0 0% 100%;
  --ds-bg-3: 0 0% 89%;
  --ds-bg-4: 233 94% 93%;
  --ds-bg-disabled: 0 0% 87%;

  --ds-border-main: 0 0% 82%;
  --ds-border-1: 0 0% 76%;
  --ds-border-2: 0 1% 60%;

  --ds-primary-light: 232 100% 73%;
  --ds-primary-dark: 233 100% 13%;
  --ds-secondary-main: 167 100% 37%;
  --ds-secondary-light: 164 73% 68%;
  --ds-secondary-dark: 167 86% 27%;
  --ds-destructive-light: 5 89% 76%;
  --ds-destructive-dark: 5 92% 28%;

  --text-tertiary: 240 0% 45%;
  --text-light: 231 5% 30%;
  --text-disabled: 219 11% 48%;

  --gradient-background: linear-gradient(100.35deg, #ECECF2 0%, #F7F7F7 100%);
  --gradient-ia: linear-gradient(90deg, #3C108C 0.67%, #5E1AD5 100.67%);
  --gradient-focus: linear-gradient(90deg, #0015A8 -3.68%, #00BD94 106.62%);

  --entity-analyse: 93 50% 46%;
  --entity-cases: 291 95% 75%;
  --entity-events: 340 92% 70%;
  --entity-observations: 14 100% 63%;
  --entity-threats: 36 100% 50%;
  --entity-arsenal: 45 92% 49%;
  --entity-techniques: 66 70% 61%;
  --entity-victimology: 265 100% 77%;
  --entity-locations: 187 95% 39%;
  --entity-observables: 180 100% 76%;
  --entity-relationships: 0 0% 38%;
  --entity-restricted: 0 0% 26%;
}

.dark,
body[data-theme="dark"],
body[data-theme="Dark"] {
  --background: 220 56% 6%;
  --foreground: var(--gray-100);
  --tw-prose-body: var(--gray-400);
  --primary: 196.75 100% 52.94%;
  --primary-foreground: var(--dark-100);
  --secondary: var(--turquoise-default);
  --secondary-foreground: var(--dark-100);
  --destructive: var(--red-400);
  --destructive-foreground: var(--light-100);
  --muted: 247 50% 12.9%;
  --muted-foreground: var(--gray-300);
  --popover: 247 45% 5.59%;
  --popover-foreground: 247 10% 97.15%;
  --card: 247 45% 5.59%;
  --card-foreground: 247 10% 97.15%;
  --input: var(--gray-800);

  --page-background: 220 54% 8%;
  --box-background: #ffffff;
  --primary-background: var(--blue-400);
  --focus-background: var(--blue-900);
  --focus-foreground: var(--primary-background);
  --text-foreground: var(--light-100);
  --secondary-text-foreground: var(--gray-300);
  --text-inverted-foreground: var(--dark-100);

  --border-strong: var(--gray-150);
  --border-medium-strong: var(--gray-200);
  --border-medium: var(--gray-500);
  --border-medium-light: var(--gray-700);
  --border-light: var(--gray-800);
  --border-focus: var(--blue-600);

  --hover-background: hsla(0, 0%, 100%, 0.1);

  --ai-main: 262 100% 76%;
  --ai-light: 261 85% 87%;
  --ai-dark: 262 78% 47%;
  --ai-background: rgba(28, 47, 73, 0.94);

  --ee-main: 155 100% 47%;
  --ee-background: rgba(0, 241, 141, 0.2);
  --ee-light-background: rgba(0, 241, 141, 0.08);

  --severity-default: 215 45% 20%;

  --alert-info-primary: 197 100% 65%;
  --alert-info-secondary: 195 100% 20%;
  --alert-success-primary: 123 76% 38%;
  --alert-success-secondary: 122 79% 17%;
  --alert-success-tertiary: 151 90% 72%;
  --alert-alert-secondary: 42 89% 18%;
  --alert-warning-secondary: 27 92% 28%;
  --alert-error-secondary: 5 92% 28%;

  --ds-bg-main: 220 56% 6%;
  --ds-bg-1: 218 50% 9%;
  --ds-bg-2: 217 53% 11%;
  --ds-bg-3: 216 32% 21%;
  --ds-bg-4: 215 45% 20%;
  --ds-bg-disabled: 221 13% 24%;

  --ds-border-main: 221 25% 22%;
  --ds-border-1: 220 10% 29%;
  --ds-border-2: 222 35% 17%;

  --ds-primary-light: 195 100% 85%;
  --ds-primary-dark: 195 100% 30%;
  --ds-secondary-main: 167 100% 47%;
  --ds-secondary-light: 164 100% 87%;
  --ds-secondary-dark: 167 100% 29%;

  --text-tertiary: 236 6% 55%;
  --text-light: 231 5% 70%;
  --text-disabled: 219 15% 53%;

  --gradient-background: linear-gradient(100.35deg, #070D19 0%, #08101D 100%);
  --gradient-ia: linear-gradient(90deg, #D6C2FA 0.67%, #B286FF 100.67%);
  --gradient-focus: linear-gradient(90deg, #0FBCFF -3.68%, #00F1BD 106.62%);
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: 0.25rem solid hsl(240 11% 96%);
  background: #7a7c85b3;
}
.dark,
body[data-theme="dark"],
body[data-theme="Dark"] {
  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 0.25rem solid hsl(230 100% 2.35%);
    background: #7a7c85b3;
  }
}
::-webkit-scrollbar-thumb:hover {
  background: #7a7c85;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
