:root {
  --dark-100: var(--gray-1000);
  --light-0: 0 0% 100%;
  --light-100: var(--gray-50);
  --background: var(--gray-50);
  --foreground: var(--gray-1000);

  --page-background: var(--light-0);
  --box-background: var(--light-100);
  --primary-background: var(--darkblue-400);
  --focus-background: var(--darkblue-100);
  --text-foreground: var(--dark-100);
  --secondary-text-foreground: var(--gray-600);
  --text-inverted-foreground: var(--light-100);
  --text-inverted-foreground-focus: var(--primary-background);
  --border-medium: var(--gray-800);
  --border-medium-strong: var(--gray-600);
  --border-medium-light: var(--gray-200);
  --border-light: var(--gray-150);
  --border-focus: var(--darkblue-300);

  --hover-background: var(--gray-150);
  --menu-active: 207, 52%, 21%;

  --primary: var(--darkblue-700);
  --primary-foreground: var(--light-100);
  --secondary: var(--turquoise-600);
  --secondary-foreground: var(--light-100);
  --destructive: var(--red-500);
  --destructive-foreground: var(--light-100);

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --muted: var(--gray-default);
  --muted-foreground: var(--gray-500);

  --border: var(--border-light);
  --input: 214.3 31.8% 91.4%;
  --ring: var(--primary) / 80%;
  --radius: 0.25rem;

  --gray-default: var(--gray-200);
  --gray-50: 240 11% 96%;
  --gray-100: 240 4% 95%;
  --gray-150: 220 5.88% 90%;
  --gray-200: 225 3.92% 80%;
  --gray-300: 231.43 4.58% 70%;
  --gray-400: 232.5 3.92% 60%;
  --gray-500: 229.09 4.31% 50%;
  --gray-600: 232.5 3.92% 40%;
  --gray-700: 231.43 4.58% 30%;
  --gray-800: 225 3.92% 20%;
  --gray-900: 220 5.88% 10%;
  --gray-1000: 230 100% 2.35%;

  --darkblue-default: var(--darkblue-700);
  --darkblue-100: 231.67 100% 92.94%;
  --darkblue-200: 232.41 100% 82.94%;
  --darkblue-300: 232.61 100% 72.94%;
  --darkblue-400: 232.38 100% 62.94%;
  --darkblue-500: 232.5 100% 52.94%;
  --darkblue-600: 232.6 100% 42.94%;
  --darkblue-700: 232.5 100% 32.94%;
  --darkblue-800: 232.31 100% 22.94%;
  --darkblue-900: 232.73 100% 12.94%;

  --blue-default: var(--blue-400);
  --blue-100: 195 100% 90%;
  --blue-200: 195 100% 85%;
  --blue-300: 199 100% 75%;
  --blue-400: 197 100% 65%;
  --blue-500: 195 100% 40%;
  --blue-600: 195 100% 30%;
  --blue-700: 195 100% 25%;
  --blue-800: 195 100% 20%;
  --blue-900: 195 100% 13%;

  --green-default: var(--green-500);
  --green-100: 123 80% 88%;
  --green-200: 123 80% 76%;
  --green-300: 123 73% 68%;
  --green-400: 123 73% 57%;
  --green-500: 123 73% 46%;
  --green-600: 123 76% 38%;
  --green-700: 123 76% 27%;
  --green-800: 122 79% 17%;
  --green-900: 122 75% 13%;

  --turquoise-default: var(--turquoise-500);
  --turquoise-100: 164 100% 87%;
  --turquoise-200: 164 100% 75%;
  --turquoise-300: 164 100% 66%;
  --turquoise-400: 164 100% 56%;
  --turquoise-500: 167 100% 47%;
  --turquoise-600: 167 100% 37%;
  --turquoise-700: 167 100% 29%;
  --turquoise-800: 167 100% 17%;
  --turquoise-900: 167 100% 7%;

  --red-default: var(--red-400);
  --red-100: 6 88% 88%;
  --red-200: 5 88% 76%;
  --red-300: 5 88% 68%;
  --red-400: 4 87% 58%;
  --red-500: 4 87% 48%;
  --red-600: 5 90% 38%;
  --red-700: 5 91% 28%;
  --red-800: 4 90% 18%;
  --red-900: 4 92% 12%;

  --orange-default: var(--orange-500);
  --orange-100: 29 88% 87%;
  --orange-200: 29 88% 76%;
  --orange-300: 29 88% 68%;
  --orange-400: 29 88% 59%;
  --orange-500: 27 88% 48%;
  --orange-600: 26 90% 38%;
  --orange-700: 27 91% 28%;
  --orange-800: 27 90% 18%;
  --orange-900: 26 93% 12%;

  --yellow-default: var(--yellow-400);
  --yellow-100: 43 88% 88%;
  --yellow-200: 43 88% 76%;
  --yellow-300: 43 88% 69%;
  --yellow-400: 43 88% 59%;
  --yellow-500: 41 87% 49%;
  --yellow-600: 43 90% 38%;
  --yellow-700: 44 91% 28%;
  --yellow-800: 42 90% 18%;
  --yellow-900: 41 91% 12%;

  --purple-default: var(--purple-500);
  --purple-100: 262 85% 92%;
  --purple-200: 261 85% 87%;
  --purple-300: 262 100% 76%;
  --purple-400: 262 90% 65%;
  --purple-500: 262 78% 47%;
  --purple-600: 262 80% 38%;
  --purple-700: 261 79% 31%;
  --purple-800: 262 80% 20%;
  --purple-900: 262 80% 12%;

  --ai-main: 262 78% 47%;
  --ai-light: 261 85% 87%;
  --ai-dark: 261 79% 31%;
  --ai-background: rgba(221, 225, 254, 0.94);

  --ee-main: 167 100% 37%;
  --ee-background: rgba(0, 189, 148, 0.2);
  --ee-light-background: rgba(0, 189, 148, 0.08);

  --severity-critical: 0 84% 58%;
  --severity-high: 27 88% 48%;
  --severity-medium: 47 76% 51%;
  --severity-low: 132 77% 38%;
  --severity-info: 212 80% 42%;
  --severity-none: 0 0% 26%;
  --severity-default: 233 94% 93%;

  --alert-info-primary: 197 100% 31%;
  --alert-info-secondary: 195 75% 52%;
  --alert-success-primary: 149 71% 38%;
  --alert-success-secondary: 149 65% 57%;
  --alert-success-tertiary: 143 81% 27%;
  --alert-alert-primary: 43 88% 59%;
  --alert-alert-secondary: 43 89% 69%;
  --alert-warning-primary: 27 88% 48%;
  --alert-warning-secondary: 29 89% 76%;
  --alert-error-primary: 4 87% 58%;
  --alert-error-secondary: 5 89% 76%;

  --ds-bg-main: 240 19% 94%;
  --ds-bg-1: 0 0% 97%;
  --ds-bg-2: 0 0% 100%;
  --ds-bg-3: 0 0% 89%;
  --ds-bg-4: 233 94% 93%;
  --ds-bg-disabled: 0 0% 87%;

  --ds-border-main: 0 0% 82%;
  --ds-border-1: 0 0% 76%;
  --ds-border-2: 0 1% 60%;

  --ds-primary-light: 232 100% 73%;
  --ds-primary-dark: 233 100% 13%;
  --ds-secondary-main: 167 100% 37%;
  --ds-secondary-light: 164 73% 68%;
  --ds-secondary-dark: 167 86% 27%;
  --ds-destructive-light: 5 89% 76%;
  --ds-destructive-dark: 5 92% 28%;

  --text-tertiary: 240 0% 45%;
  --text-light: 231 5% 30%;
  --text-disabled: 219 11% 48%;

  --gradient-background: linear-gradient(100.35deg, #ECECF2 0%, #F7F7F7 100%);
  --gradient-ia: linear-gradient(90deg, #3C108C 0.67%, #5E1AD5 100.67%);
  --gradient-focus: linear-gradient(90deg, #0015A8 -3.68%, #00BD94 106.62%);

  --entity-analyse: 93 50% 46%;
  --entity-cases: 291 95% 75%;
  --entity-events: 340 92% 70%;
  --entity-observations: 14 100% 63%;
  --entity-threats: 36 100% 50%;
  --entity-arsenal: 45 92% 49%;
  --entity-techniques: 66 70% 61%;
  --entity-victimology: 265 100% 77%;
  --entity-locations: 187 95% 39%;
  --entity-observables: 180 100% 76%;
  --entity-relationships: 0 0% 38%;
  --entity-restricted: 0 0% 26%;
}

.dark,
body[data-theme="dark"],
body[data-theme="Dark"] {
  --background: 220 56% 6%;
  --foreground: var(--gray-100);
  --tw-prose-body: var(--gray-400);
  --primary: 196.75 100% 52.94%;
  --primary-foreground: var(--dark-100);
  --secondary: var(--turquoise-default);
  --secondary-foreground: var(--dark-100);
  --destructive: var(--red-400);
  --destructive-foreground: var(--light-100);
  --muted: 247 50% 12.9%;
  --muted-foreground: var(--gray-300);
  --popover: 247 45% 5.59%;
  --popover-foreground: 247 10% 97.15%;
  --card: 247 45% 5.59%;
  --card-foreground: 247 10% 97.15%;
  --input: var(--gray-800);

  --page-background: 220 54% 8%;
  --box-background: #ffffff;
  --primary-background: var(--blue-400);
  --focus-background: var(--blue-900);
  --focus-foreground: var(--primary-background);
  --text-foreground: var(--light-100);
  --secondary-text-foreground: var(--gray-300);
  --text-inverted-foreground: var(--dark-100);

  --border-strong: var(--gray-150);
  --border-medium-strong: var(--gray-200);
  --border-medium: var(--gray-500);
  --border-medium-light: var(--gray-700);
  --border-light: var(--gray-800);
  --border-focus: var(--blue-600);

  --hover-background: hsla(0, 0%, 100%, 0.1);

  --ai-main: 262 100% 76%;
  --ai-light: 261 85% 87%;
  --ai-dark: 262 78% 47%;
  --ai-background: rgba(28, 47, 73, 0.94);

  --ee-main: 155 100% 47%;
  --ee-background: rgba(0, 241, 141, 0.2);
  --ee-light-background: rgba(0, 241, 141, 0.08);

  --severity-default: 215 45% 20%;

  --alert-info-primary: 197 100% 65%;
  --alert-info-secondary: 195 100% 20%;
  --alert-success-primary: 123 76% 38%;
  --alert-success-secondary: 122 79% 17%;
  --alert-success-tertiary: 151 90% 72%;
  --alert-alert-secondary: 42 89% 18%;
  --alert-warning-secondary: 27 92% 28%;
  --alert-error-secondary: 5 92% 28%;

  --ds-bg-main: 220 56% 6%;
  --ds-bg-1: 218 50% 9%;
  --ds-bg-2: 217 53% 11%;
  --ds-bg-3: 216 32% 21%;
  --ds-bg-4: 215 45% 20%;
  --ds-bg-disabled: 221 13% 24%;

  --ds-border-main: 221 25% 22%;
  --ds-border-1: 220 10% 29%;
  --ds-border-2: 222 35% 17%;

  --ds-primary-light: 195 100% 85%;
  --ds-primary-dark: 195 100% 30%;
  --ds-secondary-main: 167 100% 47%;
  --ds-secondary-light: 164 100% 87%;
  --ds-secondary-dark: 167 100% 29%;

  --text-tertiary: 236 6% 55%;
  --text-light: 231 5% 70%;
  --text-disabled: 219 15% 53%;

  --gradient-background: linear-gradient(100.35deg, #070D19 0%, #08101D 100%);
  --gradient-ia: linear-gradient(90deg, #D6C2FA 0.67%, #B286FF 100.67%);
  --gradient-focus: linear-gradient(90deg, #0FBCFF -3.68%, #00F1BD 106.62%);
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: 0.25rem solid hsl(240 11% 96%);
  background: #7a7c85b3;
}
.dark,
body[data-theme="dark"],
body[data-theme="Dark"] {
  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 0.25rem solid hsl(230 100% 2.35%);
    background: #7a7c85b3;
  }
}
::-webkit-scrollbar-thumb:hover {
  background: #7a7c85;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
