name: Add svg Icons
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "23"
          cache: ${{ steps.detect-package-manager.outputs.manager }}
      - name: Install dependencies
        run: ${{ steps.detect-package-manager.outputs.manager }} ${{ steps.detect-package-manager.outputs.command }}
      - name: Install rimraf and tsup
        run: yarn global add rimraf
      - name: Install packages
        run: cd packages/filigran-icon && yarn install
      - name: Run extract-icons
        run: cd packages/filigran-icon && yarn build:all
        env:
          FIGMA_FILE_ID: ${{ secrets.FIGMA_FILE_ID_ICONS }}
          FIGMA_API_TOKEN: ${{ secrets.FIGMA_API_TOKEN }}
      - name: Commit changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git diff --staged --quiet || git commit -m "Update icons"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
